In [100]:
import pandas as pd
from random import randint
import json 

campo_id = 1

df = pd.read_csv('csv/clima_datosclimaticos.csv')
#df = df[:100]
df.localidad = df.localidad.apply(lambda row: 'Gaiman')
df.direccion_viento	 = df.direccion_viento.apply(lambda row: randint(90, 180))
df.corderos = df.corderos.apply(lambda row: randint(90, 180))
df.ovejas = df.ovejas.apply(lambda row: randint(1000, 3000))
df.carneros = df.carneros.apply(lambda row: randint(1, 5))
df.pariciones = df.pariciones.apply(lambda row: randint(200, 500))
df.muertes = df.muertes.apply(lambda row: randint(1, 50))
df.lana_producida = df.lana_producida.apply(lambda row: randint(1000, 3000))
df.carne_producida = df.carne_producida.apply(lambda row: randint(0, 1000))
df.rinde_lana = df.rinde_lana.apply(lambda row:randint(1000, 3000))
df.finura_lana = df.finura_lana.apply(lambda row: randint(1000, 3000))
df = df.fillna(0)

datos = {}
for index, row in df.iterrows():
    d = {}
    d['temperatura_maxima'] = row['temperatura_minima'] #Estan cambiados a proposito!
    d['temperatura_minima'] = row['temperatura_maxima']
    d['humedad'] = row['humedad']
    d['velocidad_viento'] = row['velocidad_viento']
    d['mm_lluvia'] = row['mm_lluvia']
    d['localidad'] = row['localidad']
    d['direccion_viento'] = row['direccion_viento']
    d['corderos'] = row['corderos']
    d['ovejas'] = row['ovejas']
    d['carneros'] = row['carneros']
    d['pariciones'] = row['pariciones']
    d['muertes'] = row['muertes']
    d['lana_producida'] = row['lana_producida']
    d['carne_producida'] = row['carne_producida']
    d['rinde_lana'] = row['rinde_lana']
    d['finura_lana'] = row['finura_lana']
    datos[row['periodo']] = d

data={
"campo": {
    campo_id: {
        "diaria":{
            'ovejas': 1500,
            'corderos': 100,
            'carneros': 3
        },
        "historico": datos
        }
    },
    "user": {
    "657977867": {
        "auth_date": "1653826990",
        "campo_id": 10,
        "first_name": "Anele",
        "last_name": "Garibaldi",
        "photo_url": "https://t.me/i/userpic/320/J-dTesjUFxLC-XWoavzXoocxHHakHq1Ux8TTkwnUVCk.jpg"
        }
}
}

with open('csv/firebase_db.json', 'w') as convert_file:
     convert_file.write(json.dumps(data))

In [61]:
import locale
locale.setlocale(locale.LC_ALL, ("es_ES", "UTF-8"))
print(datetime.now().strftime("%H:%M %d/%b/%Y"))

19:05 23/feb/2023

In [94]:
from datetime import datetime

import locale
locale.setlocale(locale.LC_ALL, ("es_ES", "UTF-8"))
print(datetime.now().strftime("%H:%M %d/%b/%Y"))

año = 2010
df = pd.read_csv('la pepita_data.csv')
df.periodo = df.periodo.apply(lambda periodo: datetime.strptime(periodo, '%Y-%m-%d'))
df = df[df.periodo.dt.year == año].groupby(df.periodo.dt.month)['mm_lluvia'].sum().reset_index()
df.periodo = df.periodo.apply(lambda mes: datetime.strptime(str(mes), '%m').strftime("%B").capitalize())
df.periodo.to_list()
df.mm_lluvia.to_list()

19:48 23/feb/2023

[11.1,
 40.6,
 1.3,
 3.0,
 10.9,
 100.7,
 62.8,
 26.4,
 3.6,
 3.1,
 7.6,
 10.600000000000001]

In [95]:
df

       periodo  mm_lluvia
0        Enero       11.1
1      Febrero       40.6
2        Marzo        1.3
3        Abril        3.0
4         Mayo       10.9
5        Junio      100.7
6        Julio       62.8
7       Agosto       26.4
8   Septiembre        3.6
9      Octubre        3.1
10   Noviembre        7.6
11   Diciembre       10.6

In [86]:
#sum(df[(df.periodo.dt.month == 11)&(df.periodo.dt.year == 2010)].mm_lluvia.to_list())

In [87]:
df.periodo.to_list()

[]

In [88]:
df.mm_lluvia.to_list()

[]

In [99]:
df

,periodo,temperatura_minima,temperatura_maxima,humedad,velocidad_viento,mm_lluvia,localidad,direccion_viento,corderos,ovejas,carneros,pariciones,muertes,lana_producida,carne_producida,rinde_lana,finura_lana
0,2010-01-01,20.3,13.1,29.8,12.4,0.3,Gaiman,120,148,2487,3,295,43,1829,452,2510,1637
1,2010-01-02,25.9,14.2,29.3,8.4,0.0,Gaiman,137,159,2214,4,385,10,1314,103,2165,2426
2,2010-01-03,25.2,16.4,40.3,8.8,0.0,Gaiman,136,145,2766,4,496,20,1592,578,1118,2382
3,2010-01-04,25.1,16.4,35.0,5.8,0.0,Gaiman,156,127,1267,5,378,10,2895,312,2214,2735
4,2010-01-05,17.7,13.7,36.3,11.8,0.0,Gaiman,139,102,2669,5,462,40,2011,342,2633,1000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61161,2020-12-27,18.6,9.4,59.7,1.0,0.0,Gaiman,179,160,2539,5,338,44,1994,871,1759,2911
61162,2020-12-28,17.6,12.1,64.5,0.4,0.0,Gaiman,165,170,1864,5,459,11,2890,41,1413,1947
61163,2020-12-29,14.8,10.5,64.7,1.2,1.2,Gaiman,137,120,2597,2,357,34,1551,932,1491,2716
61164,2020-12-30,13.6,9.6,44.5,4.0,0.0,Gaiman,155,117,1486,4,215,49,2753,707,1020,1615
61165,2020-12-31,16.4,12.6,54.1,3.4,0.0,Gaiman,167,133,2844,1,438,13,1863,326,1702,2609